{% load fontawesome_5 %}
<header class="mt-3">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:web' %}">{% fa5_icon 'book-reader' size='fa-2x' color='#6969ff' %} <span class="ml-4">Dictionary</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item h6 mr-2 d-flex text-muted mb-0 align-items-center">
            {{ user.username}}
          </li>
          <li class="nav-item mx-3">
            <span class="navbar-text">
              |
            </span>
          </li>
          <li class="nav-item mr-3">
            <a href="{% url 'account_settings:settings' %}" class="nav-link">
              <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Account settings">
                {% fa5_icon 'tools' size='fa-sm' color='gray' %}
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'authentication:signout'%}" class="nav-link">
              <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Sign out">
                {% fa5_icon 'sign-out-alt' size='fa-sm' color='gray' %}
              </span>
            </a>
          </li>
        </ul>
        {% else %}
        <a href="{% url 'authentication:signin' %}" title="Sign in" class=" navbar navbar-btn navbar-right ml-auto border border-white" style="background:white;">Sign In</a>
        <a href="{% url 'authentication:signup' %}" title="Sign up" class=" navbar text-white navbar-btn navbar-right border border-white" style="margin-right: 5px; background:#8396ff;">Create Account</a>

        {% endif %}
      </div>
    </div>

  </nav>
</header>
